html,body {
    height:100%;
}
#container{
	background: red;
	width: 100%;
	min-height: 200px;
	height: 900px;
	position: relative;
}
nav{
	background: blue;
	width: 189px;
	min-width: 188px;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	position: absolute;
}

#topBar{
	width: calc(100% - 189px);
	height: 80px;
	background: gray;
	float: right;

	
}

#topBarIcon{
	width: 108px;
	height: 100%;
	background: green;
	float: left;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
}
#topBarIcon img{
	width: 50px;
	height: 50px;
}	
#topBarTitle{
	width: calc(100% - 108px);
	height: 100%;
	
	color: #000000;
	size: 10px;
	float: left;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;

}


#dashboardContainer{
	width: calc(100% - 189px);
	height: 250px;
	background: #CCCCCC;
	float: right;
}

.dashboardSmall{
	width: 25%;
	height: 98%;
	background: #ffffff;
	border-style: solid;
	border-color: #000000;
	border-width: 1% 1% 1% 1%;
	margin: 0 1% 0 1%;
	float: left;
}

#dashboardLargeFirst{
	width: 69%;
	height: 98%;
	
	border-style: solid;
	border-color: #000000;
	border-width: 1% 1% 1% 1%;
	margin: 0 1% 0 1%;
	float: left;

}
#dashboardLargeSecond{
	width: 69%;
	height: 98%;
	
	border-style: solid;
	border-color: #000000;
	border-width: 1% 1% 1% 1%;
	margin: 0 1% 0 1%;
	float: left;

}

#dashboardinfoContainer{
	width: calc(100% - 189px);
	height: 150px;
	background: #CCCCCC;
	margin: 2% 0 0 0 ;
	float: right;
}

.infoContainer{
	width: 14%;
	height: 98%;
	background: #ffffff;
	border-style: solid;
	border-color: #000000;
	border-width: 1% 1% 1% 1%;
	margin: 0 1% 0 1%;
	float: left;
}


#botdashboardContainer{
	width: calc(100% - 189px);
	height: 250px;
	background: #CCCCCC;
	float: right;
	margin: 2% 0 0 0;
}